<a href="/<%= message.id %>" class="message-card">
    <div class="container">
        <header>
            <h3><%= message.receiver %></h3>
            <p><%= message.dateCreated %></p>
        </header>
        
        <div class="message-body">
            <h4 class="message-title"><%= message.subject %></h4>
            <div class="message-content"><%= message.message %></div>
            
        </div>
    </div>

</a>