<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Message Detail" }) %>
<body>
    <%- include("partials/navigation", { messages }) %>
    <main>
        <div class="container">
            <div class="message-detail">
                <header class="content-header">
                    <div class="close-icon-container">
                        <a class="close-icon" href="/">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.13333 6.10267L1.89733 5.86667L3.764 4.00001L1.89733 2.13334L2.13333 1.89734L4 3.76401L5.86667 1.89734L6.10267 2.13334L4.236 4.00001L6.10267 5.86667L5.86667 6.10267L4 4.23601L2.13333 6.10267Z" fill="#2F2F2F"/>
                            </svg>
                        </a>

                        <a class="delete-icon" data-doc="<%= message.id %>">
                            <img class="trash-icon" src="/images/trash.svg" alt="delete">
                        </a>
                    </div>
                    <div class="message-detail-header">
                        <div class="message-receiver">
                            <h3 class="receiver"><%= message.receiver %></h3>
                            <!-- format date with time ago -->
                            <p class="date"><%= new Date(message.dateCreated).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' }) %></p>
                        </div>
                        <div class="message-subject">
                            <h4 class="subject"><%= message.subject %></h4>
                        </div>
                    </div>
                </header>
                <div class="message-body">
                    <h4 class="subject"><%= message.subject %></h4>
                    <p class="message-content"><%= message.message %></p>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const deleteIcon = document.querySelector(".delete-icon");
            const messageId = deleteIcon.dataset.doc;

            deleteIcon.addEventListener("click", (e) => {
                e.preventDefault();

                const endpoint = `/${messageId}`;
            
                fetch(endpoint, {
                    method: "DELETE",
                }).then(() => {
                    window.location.href = "/";
                }).catch((err) => {
                    console.log(err);
                });
            });
        });
    </script>
</body>
</html>